:host{

  width: 78%;
  float: right;
  right: 0px;
  top: 75px;
  position: absolute;
}
.mb-3{
  margin:0 auto;
  display:flex;
  flex-direction:row;
  min-width: 370px !important;
}
.card-body>p>img{
  width: 120px;
  border-radius:50%;
}
.card{
  margin:5px;
  max-width: 214px !important;
}
