<p *ngIf="!users"><em>Loading...</em></p>
<!-- <div class=" mb-3" id="users">
  <div class="card">
    <div class="card-body text-center">
      <p><img class=" img-fluid"
          src="https://media.licdn.com/dms/image/C5603AQHfOTI0Um2Nqg/profile-displayphoto-shrink_200_200/0?e=1570665600&v=beta&t=HG1Zrj4jNBaBcOkrH1ml5iY2_TWcnirqwDVQLiRv1Bw"
          alt="card image"></p>
      <h4 class="card-title">Thomas Weider</h4>
      <p class="card-text">Thomas@email.com</p>
      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus">Edit</i></a>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <p><img class=" img-fluid"
          src="https://media.licdn.com/dms/image/C5603AQHfOTI0Um2Nqg/profile-displayphoto-shrink_200_200/0?e=1570665600&v=beta&t=HG1Zrj4jNBaBcOkrH1ml5iY2_TWcnirqwDVQLiRv1Bw"
          alt="card image"></p>
      <h4 class="card-title">Bryan Stevens</h4>
      <p class="card-text">bryan@email.com</p>
      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus">Edit</i></a>
    </div>
  </div> -->

<div *ngFor="let user of users" class="card mb-3" id="users">
  <div class="card-body">
    <p class="card-image"><img class=" img-fluid" src="./default-user-icon.jpg" alt="card image"></p>
    <h4 class="card-title">{{ user.userName }}</h4>
    <p class="card-text">{{ user.email }}</p>
    <p class="card-text">{{ user.phoneNumber }}</p>
    <p class="card-text">Phone Number Confirmed: {{ user.phoneNumberConfirmed }}</p>
    <p class="card-text">Email Confirmed: {{ user.emailConfirmed }}</p>
    <p class="card-text">Two Factor Enabled: {{ user.twoFactorEnabled }}</p>
    <div>
      <a class="btn btn-primary btn-sm"><i class="fa fa-plus">Disable</i></a>
      <a class="btn btn-primary btn-sm"><i class="fa fa-plus">Enable</i></a>
      <a href="/users/{{user.id}}" class="btn btn-primary btn-sm"><i class="fa fa-plus">Update</i></a>
    </div>
  </div>
</div>
