
<p *ngIf="!listings"><em>Loading...</em></p>
<div class=" mb-3" id="listings">
  <div class="card" *ngFor="let listing of listings">
    <div class="card-body text-center">
      <p>
        <img class="img-fluid"
             src="{{pet.img_url}}"
             alt="card image">
      </p>
      <h4 class="card-title">{{pet.name}}</h4>
      <p>Age: {{pet.age}}</p>
      <p>Ownership Length: {{pet.ownership_length}}</p>


    </div>
  </div>
</div>



<div><a [routerLink]='["/listing-creation"]' class="btn btn-primary btn-sm"><i class="fa fa-plus">Edit</i></a></div>
