
:host {
  width: 98%;
  top: 75px;
  position: relative;
}

.mb-3 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 370px !important;
}

.card-body > p > img {
  width: 120px;
  border-radius: 50%;
}

.card {
  margin: 5px;
  max-width: 214px !important;
}
