@media (min-width: 1200px) {
  :host{
    max-width: 1076px;
  }
}
:host {
  width: 98%;
  position: relative;
  float: right !important;
}
.mb-3 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 370px !important;
}
.card-body > p > img {
  width: 120px;
  border-radius: 50%;
}
.card {
  border-color: #6a6e71;
  background-color: floralwhite;
  margin: 5px;
  max-width: 214px !important;
}
