:host {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 75px;
  position: relative;
}
.mb-3 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 214px !important;
}
.card-body{
  display: flex;
  flex-direction: column;
}
.card-body>p>img{
  width: 120px;
  border-radius:50%;
}
.card{
  margin:5px;
  min-width: 400px !important;
}
.card-image{
  text-align: center;
}
.card-body>div{
  display: flex;
    justify-content: center;
}
.card-body>div>a{
  color:white;
  margin:5px;
}
p>input{
  float: right;
  width:70%;
}
.two>select{
  float:right;
  width: 40%;
}
